Flask==0.10.1
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.9
gunicorn==19.4.5
itsdangerous==0.24
oauthlib==1.0.0
requests==2.7.0
requests-oauthlib==0.6.1
tweepy==3.3.0
urllib3==1.11
virtualenv==1.11.6
wheel==0.26.0
