anyjson==0.3.3
Flask==0.10.1
Flask-Mail==0.9.1
gunicorn==19.6.0
httplib2==0.9
idna==2.0
Jinja2==2.8
MarkupSafe==0.23 
python-dateutil==2.5.0
pytz==2015.7
pyxdg==0.25
requests==2.7.0
requests-oauthlib==0.6.1
traitlets==4.2.1
urllib3==1.11
Werkzeug==0.11.9

