<html>

<head>
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>
<title>404 Not Found!</title>

<style>

.txt{
	position: relative;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 30px;
	top: 100px;
}

</style>

</head>


<center>
<div class='txt'>
<div id='one' onmouseover ="change(this)" onmouseout="stop(this)" style="width:30px;height: 50px;">N</div>
<div id='two' onmouseover ="change(this)" onmouseout="stop(this)" style="width:30px;height: 50px;">O</div>
<div id='three' onmouseover ="change(this)" onmouseout="stop(this)" style="width:30px;height: 50px;">T</div>
<br>
<div id='four' onmouseover ="change(this)" onmouseout="stop(this)" style="width:30px;height: 50px;">F</div>
<div id='five' onmouseover ="change(this)" onmouseout="stop(this)" style="width:30px;height: 50px;">O</div>
<div id='six' onmouseover ="change(this)" onmouseout="stop(this)" style="width:30px;height: 50px;">U</div>
<div id='seven' onmouseover ="change(this)" onmouseout="stop(this)" style="width:30px;height: 50px;">N</div>
<div id='eight' onmouseover ="change(this)" onmouseout="stop(this)" style="width:30px;height: 50px;">D</div>
<div id='nine' onmouseover ="change(this)" onmouseout="stop(this)" style="width:30px;height: 50px;">!</div>
</div>
</center>

<script>

var vary = false;
var ch;
var gid;


function stop(id){
	gid.innerHTML = ch;
	vary = false;
}

function changeit(){
	if (vary==true){
		var x = gid.innerHTML;
		var n = x.charCodeAt(0)+1;
		if (n>90) n = 65;
		var chr = String.fromCharCode(n);
		gid.innerHTML = chr;
	}
}

function change(id){
	gid = id;
	ch = gid.innerHTML;
	vary = true;
	setInterval(changeit,20);
}


</script>


</body>

</html>
